.CardCreateForm__inputWrapper {
  padding-top: 0;
  padding-bottom: 0;
}

.CardCreateForm__input {
  margin-bottom: 16px;
  width: 100%;
  font-size: inherit;
  outline: none;
  border: none;
  box-sizing: border-box;
}

.CardCreateForm__buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.CardCreateForm__actionButton {
  flex-grow: 1;
}